@model Month

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Месячный архив за @Model.Name</h1>
    <table border="2" cellspacing="10px" cellpadding="10px">
        <tr>
            <td>Дата</td>
            <td>Время</td>
            <td>Температура</td>
            <td>Относительная влажность</td>
            <td>Точка росы</td>
            <td>Атм. Давление</td>
            <td>Направление ветра</td>
            <td>Скорость ветра</td>
            <td>Облачность</td>
            <td>Нижняя граница облочности</td>
            <td>Горизонтальная видимость</td>
            <td>Погодные явления</td>
        </tr>
        @foreach (WeatherMeasurement measurement in Model.WeatherMeasurements)
        {
            <tr>
                <td>@measurement.Date</td>
                <td>@measurement.Time</td>
                <td>@measurement.Temperature</td>
                <td>@measurement.AirRelativeHumidity</td>
                <td>@measurement.DewPoint</td>
                <td>@measurement.AtmospericPressure</td>
                <td>@measurement.AirDirection</td>
                <td>@measurement.AirSpeed</td>
                <td>@measurement.CloudCover</td>
                <td>@measurement.LowerCloudLimit</td>
                <td>@measurement.VisualVisibility</td>
                <td>@measurement.WeatherPhenomena</td>
            </tr>
        }
    </table>
</div>
</body>
</html>